.dupa {
    width: 250px;
}

.dupa2 {
    width: 250px;
}

.new {
    width: 123px;
}

.tab-content {
    max-width: 600px;
}

.nav {
    max-width: 570px;
}

.footer {
    margin-top: 40px;
}